@use "../../theme/utilities.scss" as *;
//								  pagination + Header + Nav +Form
$top-content-height: 112px + 36px + 51px + 88px;

.flights-cards {
	overflow-y: auto;
	height: calc(98dvh - $top-content-height);

	.flight-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border: 1px solid var(--border-color);
		filter: drop-shadow(0px 4px 4px var(--shadow-color));

		margin: $push-unit;

		.flight-details {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;

			span {
				margin: 0 $push-unit;
			}
		}
	}
}
