@use "../../theme/utilities.scss" as *;

@mixin ButtonSkin(
	$color,
	$background-color,
	$border-color,
	$shadow-color,
	$hover-bg-color,
	$active-bg-color,
	$hover-color
) {
	background-color: $background-color;
	color: $color;
	border-color: $border-color;

	filter: drop-shadow(3px 3px 3px $shadow-color);

	&:hover {
		background-color: $hover-bg-color;
		border-color: $hover-color;
		color: $hover-color;
	}

	&:active {
		translate: 3px 3px;

		filter: drop-shadow(0 0 0 $shadow-color);
		background-color: $active-bg-color;

		border-color: $hover-color;
		color: $hover-color;
	}
}

button {
	padding: $push-unit * 2;
	font-size: 1rem;
	border: 0.5px solid;
	border-radius: 4px;
	max-height: 3.5rem;

	cursor: pointer;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:focus,
	&:focus-visible {
		outline: none;
	}

	&.primary {
		@include ButtonSkin(
			var(--text-color-inverse),
			var(--button-background-color),
			var(--text-color-inverse),
			var(--shadow-color),
			var(--button-hover-color),
			var(--button-active-color),
			var(--text-color-inverse)
		);
	}

	&.secondary {
		@include ButtonSkin(
			var(--text-color),
			#00000000,
			var(--button-border-color),
			var(--shadow-color),
			#eaeaea90,
			var(--button-active-color),
			var(--text-color-inverse)
		);
	}

	&.danger {
		@include ButtonSkin(
			var(--text-color),
			var(--danger-color),
			var(--button-border-color),
			var(--danger-color),
			var(--danger-color-light),
			var(--danger-color-dark),
			var(--text-color)
		);
	}

	&.circle {
		border-radius: 50%;
		width: 1.1rem;
		height: 1.1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	button {
		padding: $push-unit;
	}
}
