@use "./theme/theme.scss" as themeEngine;
@use "./theme/test.scss" as testing;

//primary   text
//secondary backgrounds
//accent    accent to all elements
//danger    for error text and elements
//info      for info text and elements
//success   for success text and elements

@media (prefers-color-scheme: light) {
	$light-theme: (
		primary: #1c1c1c,
		secondary: #f5f5f5,
		accent: #fa784f,

		danger: #f44c36,
		info: #00ccff,
		success: #00cc66,
	);

	@include themeEngine.theme($light-theme);
}

@media (prefers-color-scheme: dark) {
	$dark-theme: (
		primary: #f5f5f5,
		secondary: #1c1c1c,
		accent: #fa784f,

		danger: #f44c36,
		info: #00ccff,
		success: #00cc66,
	);
	@include themeEngine.theme($dark-theme);
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-size: 16px; // 1rem = 16px
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	overflow: hidden;
	background-color: var(--background-color);
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

@include testing.Testing(false);
